<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.j.api.restful.common.mapper.MapperDbStatus">

  <select id="getDbTableStatus" resultType="java.util.HashMap">
    SHOW TABLE STATUS 
  </select>
  
</mapper>